<header class="text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <a
        routerLink=""
        class="d-flex align-items-center  text-white text-decoration-none"
      >
        <i class="fa-solid fas fa-shopping-bag fs-1 me-0"></i>
        <span class="fs-2 ms-2 me-0">{{ title }}</span>
      </a>
      <ul class="nav col-lg-auto justify-content-center mb-md-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link text-secondary">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="isLogged && !isAdmin">
          <a routerLink="gestion-productos" class="nav-link text-white"
            >Mis productos</a
          >
        </li>
        <li class="nav-item" *ngIf="isLogged && !isAdmin">
          <a routerLink="" class="nav-link text-white">Mis compras</a>
        </li>
        <li class="nav-item" *ngIf="isLogged && !isAdmin">
          <a routerLink="/carrito" class="nav-link text-white">Carrito</a>
        </li>
        <li class="nav-item" *ngIf="isLogged && isAdmin">
          <a routerLink="/revisar-productos" class="nav-link text-white"
            >Admin</a
          >
        </li>
      </ul>

      <form
        class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
        role="search"
        (submit)="iraBusqueda(textoBusqueda.value)"
      >
        <input
          #textoBusqueda
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div *ngIf="!isLogged; then nologged; else logged"></div>
      <ng-template #nologged>
        <div class="text-end">
          <button
            type="button"
            routerLink="/login"
            class="btn btn-outline-light me-2"
          >
            Login
          </button>
          <button type="button" routerLink="/registro" class="btn btn-primary">
            Sign-up
          </button>
        </div>
      </ng-template>
      <ng-template #logged>
        <div class="text-end">
          <label class="me-3">Hola {{ email }}</label>
          <button type="button" (click)="logout()" class="btn btn-warning">
            Logout
          </button>
        </div>
      </ng-template>
    </div>
  </div>

  <router-outlet></router-outlet>
  <ul>
    <li><a routerLink="#">Inicio</a></li>
    <li><a routerLink="/crear-producto">Crear producto</a></li>
    <li><a routerLink="/envio">Crear Envio </a></li>
    <li><a routerLink="/gestion-productos">Gestionar productos</a></li>
    <li><a routerLink="/carrito">Carrito</a></li>
  </ul>
  <footer class="mt-5 py-3 bg-black text-white text-center">
    <p>© 2023 Mi Sitio Web. Todos los derechos reservados.</p>
  </footer>
</header>
