<header class="text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <a
        routerLink=""
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <i class="fa-solid fas fa-shopping-bag fs-3"></i>
        <span class="fs-4 ms-3 me-3">{{ title }}</span>
      </a>
      <ul class="nav col-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item">
          <a routerLink="" class="nav-link text-secondary">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/gestion-productos" class="nav-link text-white"
            >Mis productos</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="" class="nav-link text-white">Mis compras</a>
        </li>
        <li class="nav-item">
          <a routerLink="carrito" class="nav-link text-white">Carrito</a>
        </li>
        
      </ul>

      <form
        class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
        role="search"
        (submit)="iraBusqueda(textoBusqueda.value)"
      >
        <input
          #textoBusqueda
          type="search"
          class="form-control form-control-dark text-bg-dark"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button
          type="button"
          class="btn btn-outline-light me-2"
          routerLink="/login"
        >
          Login
        </button>
        <button type="button" class="btn btn-warning" routerLink="/registro">
          Sign-up
        </button>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
  <ul>
    <li><a routerLink="#">Inicio</a></li>
    <li><a routerLink="/crear-producto">Crear producto</a></li>
    <li><a routerLink="/envio">Crear Envio </a></li>
    <li><a routerLink="/gestion-productos">Gestionar productos</a></li>
    <li><a routerLink="/carrito">Carrito</a></li>
  </ul>
  <footer class="mt-5 py-3 bg-black text-white text-center">
    <p>© 2023 Mi Sitio Web. Todos los derechos reservados.</p>
  </footer>
</header>
