

  .image-item{
    max-height: 225px;
    overflow: hidden;
    }
    .image-item img{
    width: 100%;
    }
    .carousel-item {
      height: 65vh;
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

     /* Estilos personalizados */




